---
import { Icon } from "astro-icon/components"
import { formatDateTimeToYYYYMMDDHHmm } from "@/utils/date-utils"
import { getCategoryUrl, getTagUrl } from "@/utils/url-utils"

const COMPDES = "该组件是展示卡片里面的时间、归属分类信息"

interface Props {
	published: Date
	category?: string
	className: string
	updated?: Date
	tags?: string[]
	id?: string
	customPath?: string
	hideUpdateDate?: boolean
	hideTagsForMobile?: boolean
	showTags?: boolean
}

const {
	published,
	category,
	id,
	customPath,
	updated,
	tags,
	hideUpdateDate,
	hideTagsForMobile,
	showTags = true,
} = Astro.props
const className = Astro.props.className
const path = customPath || (id ? `/posts/${id}` : "")
---

<div
	class:list={[
		"post-meta-root post-meta mb-4 flex flex-wrap items-center gap-4 gap-x-4 gap-y-2 text-neutral-500 dark:text-neutral-400",
		className,
	]}
>
	<!-- 发布时间 -->
	<div class="flex items-center">
		<div class="meta-icon-regular meta-icon">
			<Icon name="material-symbols:calendar-today-outline-rounded" class="text-xl" />
		</div>
		<span class="text-50 text-sm font-medium">{formatDateTimeToYYYYMMDDHHmm(published, "date")}</span>
	</div>

	<!-- 更新时间 -->
	{
		!hideUpdateDate && updated && updated.getTime() !== published.getTime() && (
			<div class="flex items-center">
				<div class="meta-icon-regular meta-icon">
					<Icon name="material-symbols:edit-calendar-outline-rounded" class="text-xl" />
				</div>
				<span class="text-50 text-sm font-medium">{formatDateTimeToYYYYMMDDHHmm(updated, "date")}</span>
			</div>
		)
	}

	<!-- 文章分类 -->
	<div class="flex items-center">
		<div class="meta-icon-regular meta-icon">
			<Icon name="material-symbols:book-2-outline-rounded" class="text-xl" />
		</div>
		<a
			href={getCategoryUrl(category || "")}
			class="btn-plain text-50 p-1.5 text-sm font-medium! whitespace-nowrap"
			aria-label={`View all posts in the ${category} category`}
		>
			{category}
		</a>
	</div>

	<!-- 标签 -->
	{
		showTags && (
			<div class:list={["items-center", { flex: !hideTagsForMobile, "hidden md:flex": hideTagsForMobile }]}>
				<div class="meta-icon-regular meta-icon">
					<Icon name="material-symbols:tag-rounded" class="text-xl" />
				</div>
				<div class="flex flex-row flex-nowrap items-center">
					{tags &&
						tags.length > 0 &&
						tags.map((tag, i) => (
							<>
								<div class:list={[{ hidden: i == 0 }, "mx-0.5 text-sm text-(--meta-divider)"]}>/</div>
								<a
									href={getTagUrl(tag)}
									aria-label={`View all posts with the ${tag.trim()} tag`}
									class="btn-plain text-50 p-1.5 text-sm font-medium! whitespace-nowrap"
								>
									{tag.trim()}
								</a>
							</>
						))}
					{!(tags && tags.length > 0) && <div class="text-50 text-sm font-medium transition">暂无标签</div>}
				</div>
			</div>
		)
	}
</div>

<style>
	.meta-icon {
		margin-right: 0.5rem;
		height: 2rem;
		width: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
